.vw{
    width: fit-content;
    height: 32.7rem;
}

.vw video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.phoneSubmenuText2{
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
}

.phoneSubmenuText1{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}